.article-management{
  font-size: $text-font-sm;

  h3{
    font-weight: 900;
  }

  th{
    letter-spacing: $letter-spacing-md;
    color: $color-secondary;
  }

  td{
    vertical-align: middle;

    &:first-child{
      max-width: 150px;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a{
        font-weight: 900;
        color: $color-secondary-dark;
        text-decoration: none;
      }
    }
  }

  .form-control{
    border:1px solid $color-secondary-light;
  }
}