html,body{
  font-family: '微軟正黑體';
  letter-spacing: $letter-spacing-xs;
  line-height: $line-height-sm;
}

.btn{
  letter-spacing: $letter-spacing-md;
  padding-left: 12px;
  transition: .2s;
  border-radius: 0;

  &:focus{
    box-shadow: none !important;
  }

  &:disabled{
    color: $color-secondary-dark;
    border-color: $color-secondary;
  }

  &--close{
    position: absolute;
    left: 0;
    top: 0;
    color: $color-secondary-dark;
    font-size: $heading-font-md;
  }

  &--cancel{
    // color: $color-primary;
  }

  &--submit{
    color: $color-secondary-dark;
    border-color: $color-primary;
  }
}