$color-primary:#FFC017;
$color-primary-dark:darken($color-primary, 6%);
$color-secondary:#939597;
$color-secondary-dark:darken($color-secondary, 40%);
$color-secondary-light:lighten($color-secondary, 30%;

$text-font-xs: 0.8125rem;
$text-font-sm: 0.9375rem;
$text-font-md: 1rem;
$text-font-lg: 1.2rem;

$heading-font-xs: 1.375rem;
$heading-font-sm: 1.6rem;
$heading-font-md: 2rem;
$heading-font-lg: 2.2rem;


$line-height-sm: 1.4;
$line-height-md: 1.6;
$line-height-lg: 2;


$letter-spacing-xs: 0.5px;
$letter-spacing-sm: 1px;
$letter-spacing-md: 5px;
$letter-spacing-lg: 10px;