.user-modal{

  &__btn-submit{
    width: 100%;
    font-size: $text-font-md;
    margin-bottom: 2rem;
  }

  &__footer{
    font-size: $text-font-sm;
    letter-spacing: $letter-spacing-sm;
    text-align: center;
  }
}

#user-modal{
  &::before{
    content:'';
    position: absolute;
    min-width: 480px;
    width: 35%;
    height: 100%;
    background-color: #000;
    display: none;

    @include media-breakpoint-up(xl){
      display: block;
    }
  }

  .modal-dialog{
    @include media-breakpoint-up(xl){
      margin-left: 45%;
    }
  }

  .modal-header{
    border-bottom: none;
  }

  .modal-content{
    max-width: 440px;
  }
}
