.user-menu{
  
  .tag{
    width: 100%;
    margin: 0;
    font-size: $text-font-sm;
  }

  &--search{
    position: relative;

    .form-control{
      color: #fff;
      width: 0px;
      padding: 0;
      transition: .2s;
    }

    .icon--search{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &.search-show{
      .form-control{
        padding-left: 30px;
        width: 300px;
      }

      .icon--search{
        margin-left: 10px;
      }
    }
  }

  &__avatar{
    transition: 0.2s;

    &:hover{
      transform: scale(1.1)
    }
  }

  &__about{
    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    svg{
      color: $color-secondary
    }
  }

  &--avatar{
    .dropdown{
      &-toggle{
        padding: 0;
        overflow: hidden;
        border-radius: 50%;
        border: none;
        box-shadow: none;
      }

      &-menu {
        min-width: 250px;
      }

      &-item{
        font-size: $text-font-md;
        letter-spacing: $letter-spacing-sm;
        line-height: $line-height-lg;

        &:active{
          background-color: transparent;
        }
      }
    }
  }
}

.light-navbar{
  .user-menu--search{
    .form-control{
      color: #000;
      border-color: $color-secondary;
    }
  }
}

// Ckeditor Autosave Status
#snippet-autosave-status_spinner {
  display: flex;
  align-items: center;
  position: relative;
  font-size: $text-font-sm;
}

#snippet-autosave-status_spinner-label::after {
    content: 'Saved!';
    color: green;
    display: inline-block;
}

#snippet-autosave-status.busy #snippet-autosave-status_spinner-label::after {
  content: 'Saving...';
  color: red;
}

#snippet-autosave-status.busy #snippet-autosave-status_spinner-loader {
  display: block;
  width: 16px;
  height: 16px;
}