.blog{
  padding-top: 3rem;

  ul,li{
    list-style: none;
  }
}

.author-card{
  display: flex;
  flex-direction: row;
  background-color: inherit;
  border: none;
  margin-bottom: 4rem;

  @include media-breakpoint-up(lg){
    display: block;
    position: sticky;
    top: 100px;
    padding-right: 0.3rem;
    letter-spacing: 0;
    background-color: inherit;
  }

  &__header{
    padding: 0;
    padding-right: 1.2rem;
    background-color: inherit;
    border-bottom: none;

    @include media-breakpoint-up(lg){
      margin-bottom: 1rem;
    }
  }

  &__body{
    padding: 0;
  }

  &__username{
    font-size: $text-font-lg;
    font-weight: 900;
    margin-bottom: 0.2rem;
  }

  &__about{
    font-size: $text-font-sm;
    color: $color-secondary;
  }

  &__footer{
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(120%);
    background-color: inherit;
    border-top: none;

    @include media-breakpoint-up(lg){
      position: relative;
      padding-top: 1rem;
      border-top: 1px solid $color-secondary-light
    }
  }
}

.article-card--vertical{
  .article-card__header{
    display: none;
  }
}