.my-article{
  padding-top: 3rem;

  &__col{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title{
    font-weight: 900;
  }
}

.articles-list{
  &__item{
    padding: 1rem 0;
    border-bottom: 1px solid $color-secondary-light;
  }

  &__title{
    cursor: pointer;
    font-size: $heading-font-xs;
    font-weight: 900;
  }

  &__info{
    font-size: $text-font-xs;
    color: $color-secondary;
  }
}