#blog{
  .author-side{
    border-right: 1px solid rgb(235, 235, 235);
    padding: 2rem;
    text-align: center;
    position: sticky;
    top: 100px;

    .user-photo{
      width: 100%;
      max-width: 150px;
      margin-bottom: 1rem;
    }

    .username{
      font-size: 1.3rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }

    .about-text{
      text-align: left;
      margin-bottom: 2rem;

      h5{
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: #aaa
      }
    }
  }
}