#home{
  .cuishare-article-container{
    margin-bottom: 10rem;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;

      .b-avatar{
        margin-right: 1rem;
      }

      h4{
        margin: 0;
        font-weight: 900;
      }
    }

    .article-card.card-horizontal{
      .right{
        max-height: 200px;
        order:0;
        padding-right: 1.6rem;
      }

      .left{
        max-height: 200px;
        order:1;
        padding-right: 0;
      }
    }
  }


  .user-article-container{
    
  }
}