.article{
  padding-bottom: 5rem;

  // 閱讀
  &--editor-read{
    padding-top: 3rem;

    &__interactive{
      display: flex;
      justify-content: flex-end;
      padding-bottom: 2rem;
      margin-bottom: 3rem;
      border-bottom: 1px solid $color-secondary-light;
    }

    &__author{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    .article__avatar{
      width: 20%;
    }

    .article__info{
      width: 50%;
    }

    .article__author-name{
      font-weight: 900;
    }

    .article__author-about{
      font-size: $text-font-sm;
      color: $color-secondary;
      @include text-overflow(3)
    }
  }

  // 編寫
  &--editor-edit{
    .article__button-group{
      position: relative;
      text-align: right;
      top: -40px;
      right: 10px;
    }
  }
}


// Ckeditor 樣式

.ck.ck-reset.ck-editor{

  .ck-toolbar{
    border: none;
  }

  .ck-content{
    border: none;
    padding-bottom: 3rem;
    background-color: inherit;

    &:focus{
      background-color: inherit;
      border-color: lighten($color-secondary, 30%);
      border-top: none;
      box-shadow: none;
    }

    h1{
      font-weight: 900;
      margin-bottom: 1.5rem;
    }
  
    h2{
      font-weight: 900;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5rem;
      margin-top: 2rem;
    }
    
    p,li{
      font-size: $text-font-lg;
      line-height: $line-height-lg;
    }
  
    li{
      font-size: $text-font-lg;
    }
  
    blockquote{
      font-weight: 900;
      color: #aaa;
      border-left-color: $color-primary; 
  
      p{
        font-size: $heading-font-xs;
        margin-bottom: 0rem;
      }
    }
  
    hr{
      background-color: transparent;
      position: relative;
      margin: 2rem 0;
  
      &::after{
        content:'●　　　　●　　　　●';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #ccc;
        font-size: 10px;
      }
    }  h1{
      font-weight: 900;
      margin-bottom: 1.5rem;
    }
  
    h2{
      font-weight: 900;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5rem;
      margin-top: 2rem;
    }
    
    p,li{
      font-size: $text-font-lg;
      line-height: $line-height-lg;
    }
  
    li{
      font-size: $text-font-lg;
    }
  
    blockquote{
      font-weight: 900;
      color: #aaa;
      border-left-color: $color-primary; 
  
      p{
        font-size: $heading-font-xs;
        margin-bottom: 0rem;
      }
    }
  
    hr{
      background-color: transparent;
      position: relative;
      margin: 3rem 0;
  
      &::after{
        content:'●　　　　●　　　　●';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #ccc;
        font-size: 10px;
      }
    }
  
  }
}