.home{
  ul,li{
    list-style: none;
  }
}

.official-articles{
  padding-top: 6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $color-secondary-light;

  .article-item{
    margin-bottom: 0.5rem;
  }

  &__avatar{
    cursor: pointer;
  }

  &__header{
    display: flex;
    align-items: center;
  }

  &__name{
    cursor: pointer;
    font-size: $heading-font-sm;
    font-weight: 900;
  }

  &__text{
    cursor: pointer;
    margin-bottom: 0;
    text-align: right;
    font-size: $text-font-sm;
    color: $color-secondary;
    transition: .2s;

    &:hover{
      color: $color-secondary-dark;
    }
  }

  .article-card--vertical{

    .article-card__header{
      display: none;
    }

    .article-card__sub-title{
      @include text-overflow(2)
    }
  }
}

.author-articles{
  padding-top: 8rem;
}