.my-following{
  padding-top: 3rem;

  &__title{
    font-weight: 900;
  }

  .following-item{
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $color-secondary-light;

    @include media-breakpoint-up(sm){
      text-align: left;
      margin-bottom: 2rem;
      display: flex;
      align-items: flex-start;
    }

    &__avatar{
      margin-right: 1rem;
    }

    &__info{
      display: flex;
      flex-direction: column;
    }

    &__username{
      font-size: $text-font-lg;
      font-weight: 900;
      margin-bottom: 0;
      display:flex;
      align-items: center;
      margin: auto;

      @include media-breakpoint-up(sm){
        margin: 0;
      }
    }

    &__about{
      font-size: $text-font-sm;
      color: $color-secondary;
      text-align: left;
    }

    &__his-follow {
      font-size: $text-font-xs;
      color: $color-secondary;
    }
  }
}
// @include media-breakpoint-up(sm)