.my-favorites{
  padding-top: 3rem;

  &__item{
    margin-bottom: 3rem;
  }

  &__title{
    font-weight: 900;
  }
  
  .articles-item{
    margin-bottom: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid $color-secondary-light;

    &__title{
      cursor: pointer;
      font-size: $heading-font-xs;
      font-weight: 900;
    }

    &__info{
      font-size: $text-font-xs;
      color: $color-secondary;
      display: flex;
      align-items: center;
    }

    &__avatar{
      margin-right: 0.2rem;
    }
  }
}