#new-article{
  padding-bottom: 10rem;

  h1{
    font-weight: 900;
    margin-bottom: 2rem;
  }

  h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
  }

  
  p,li{
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 1.3rem;
  }

  li{
    font-size: 1.2rem;
  }

  blockquote{
    font-weight: 900;
    color: #aaa;
    border-left-color: orange; 

    p{
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
  }

  hr{
    background-color: transparent;
    position: relative;
    margin: 3rem 0;

    &::after{
      content:'●　　　　●　　　　●';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      color: #ccc;
      font-size: 10px;
    }
  }

  .ck.ck-content{
    margin-bottom: 5rem;
  }
}