.user-settings{
  padding-top: 5rem;
  padding-bottom: 3rem;

  label{
    margin-right: 1rem;
    letter-spacing: $letter-spacing-md;
    font-weight: 900;
  }

  .user-info__photo{
    margin-bottom: 2rem;
  }

  .setting-input-item{
    margin-bottom: 3rem;
  }

  .settings{
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: inherit;
    border: none;
  }

  .user-info{
    &__title{
      position: relative;
      font-size: $heading-font-sm;
      font-weight: 900;
      padding-bottom: 10px;
      margin-bottom: 1.3rem;

      &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #ccc;
      }
    }

    .img-inputer{
      border-radius: 50%;
      width: 160px;
      height: 160px;
      overflow: hidden;

      img{
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }

      .img-inputer__change{
        margin-bottom: 2rem;
      }
    }
  }
}