html,body{
  font-family: '微軟正黑體';
  letter-spacing: $letter-spacing-xs;
  line-height: $line-height-sm;
  // background-color: $color-basic;
}

#app{
  padding-top: 80px;
}

// bootstrapVue
.container{
  position: relative;
}

.form-control{
  background-color: inherit;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $color-secondary-light;
  transition: none;

  &[disabled]{
    border: none;
    background-color: rgb(250, 250, 250);
  }

  &:focus{
    background-color: inherit;
    box-shadow: none;
    border-color: $color-secondary-light;
  }

  &.is-invalid{
    &:focus{
      box-shadow: none;
    }
  }

  &.is-valid{
    &:focus{
      box-shadow: none;
    }
  }
}

.modal{
  &-backdrop{
    background-color: $color-basic;
    opacity:1;
    transition:opacity .2s;
  }

  &-content{
    border: none;
    background-color: inherit;
  }

  &-body{
    padding-top: 3rem;
    padding-bottom: 3rem;

    &.text-center{
      color: $color-secondary;
    }
  }

  &-title{
    font-size: $heading-font-sm;
    font-weight: 900;
  }
}

.dropdown{
  background-color: inherit;

  &-toggle{
    padding: 0;
  }

  &-menu {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border: none;
  }

  &-item{
    font-size: $text-font-sm;
    line-height: $line-height-md;
    transition: .3s;
    color: #000;
    &:hover{
      background-color: rgb(243,243,243);
    }

    &:active{
      background-color: inherit;
      color: #000;
    }
  }
  
  &--danger{
    a.dropdown-item {
      color: $color-danger-light ;
    }
  }
}

.nav-tabs{
  margin-bottom: 1rem;

  .nav-link{
    position: relative;
    color: $color-secondary;
    border: none;
    transition: .2s;

    &:hover{
      color: $color-secondary-dark;
    }
    
    &.active{
      background-color: inherit;

      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-primary;
      }
    }
  }
}

// 自定義
.btn{
  letter-spacing: $letter-spacing-md;
  padding-left: 12px;
}

.btn.custom-btn{
  letter-spacing: $letter-spacing-md;
  padding-left: 12px;

  &:focus{
    box-shadow: none !important;
  }

  &:disabled{
    color: $color-secondary-dark;
    border-color: $color-secondary;
  }

  &.btn-outline-warning{
    color: $color-secondary-dark;
    border-color: $color-primary-dark;

    &:hover{
      background-color: $color-primary-dark;
      color: $color-basic;
    }
  }

  &--follow{
    width: 112px;

    &.btn--following{
      background-color: $color-primary-dark;
      color: $color-basic;
    }
  }
  // &--close{
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   color: $color-secondary-dark;
  //   font-size: $heading-font-md;
  // }
}

.icon{
  cursor: pointer;
  transition: .2s;
  color: $color-secondary;

  &:hover{
    color: $color-secondary-dark;
  }
}

.validate-message{
  font-size: $text-font-xs; 
  color: $color-danger-light;
  text-align: right;
  line-height: $line-height-lg;
  height: 1rem;
}