body{
  padding-top: 100px;
  font-family: '微軟正黑體';
}

.container.main-container{
  // max-width: 1280px
}

.container.editor-container{
  max-width: 996px
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none;
}

.tooltip .tooltip-inner{
  font-size: 0.6rem;
  letter-spacing: 1px;
}
