.vue-select-image{
  ul{
    padding: 0;
    list-style: none;
  }

  padding: 0;
  overflow-x: auto;
  margin-bottom: 2.5rem;

  &__wrapper{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  }

  &__item{
    padding:0.5rem;
  }

  &__thumbnail--selected{
    border: 2px solid $color-secondary;
  }

  img{
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
  }
}

.vue-tags-input[data-v-61d92e31]{
  max-width: 100%;
  width: 100%;
  margin-bottom: 2.5rem;
}



.publish-modal__text{
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: $color-secondary;
}
  
.fa-eye,.fa-eye-slash{
  margin-bottom: .2rem;
  margin-left: 1rem;;
  color: rgb(143, 143, 143);
}
  


