.article-icons{
  display: flex;

  &__icon{
    cursor: pointer;
    transition: 0.2s;
    color: $color-secondary;

    &~.article-icons__icon{
      margin-left: 0.5rem;
    }

    &--like:hover{
      color: $color-danger;
    }

    &--favorite:hover{
      color: $color-primary;
    }
  }


  .checked-like-icon{
    transition: 0.2s;
    color: $color-danger;
  }

  .checked-favorites-icon{
    transition: 0.2s;
    color: $color-primary;
  }
}