.article-item{
  margin-bottom: 3rem;
}

// article-card 共用
.article-card{
  background-color: $color-basic;
  border: none;
  padding-bottom: 3rem;

  &__col{
    max-height: 120px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-up(sm){
      max-height: 150px;
    }

    @include media-breakpoint-up(lg){
      max-height: 180px;
    }
  }

  &__header{
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    background-color: $color-basic;
    border: none;
  }

  &__avatar{
    margin-right: 0.5rem;
  }

  &__content{
    padding: 0;
    padding-right: 0.5rem;
  }

  &__title{
    cursor: pointer;
    font-size: $text-font-lg;
    font-weight: 900;
    @include text-overflow(2);
    @include media-breakpoint-up(lg){
      font-size: $heading-font-xs;
    }
  }

  &__sub-title{
    cursor: pointer;
    display: none;
    font-size: $text-font-sm;
    color: $color-secondary;
    @include media-breakpoint-up(md){
      display: block;
      @include text-overflow(2);
    }
  }

  &__footer{
    padding: 0;
    padding-right: 0.5rem;
    background-color: $color-basic;
    font-size: $text-font-xs;
    color: $color-secondary;
    border: none;
  }

  &__cover-photo{
    height: 100%;
    position: relative;
    cursor: pointer;

    &::before{
      content:'';
      transition: .4s;
      @include mask(0);
      z-index: 1;
    }

    &:hover{
      &::before{
        opacity: 0.5;
      }
    }

    &::after{
      content:'繼續閱讀...';
      transition: .4s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      color: $color-basic;
      opacity: 0;
    }

    &:hover{
      &::after{
        letter-spacing: $letter-spacing-md;
        opacity: 0.9;
      }
    }
  }

  &__img{
    cursor: pointer;
    position: relative;
    @include img-fit;
  }
}

// .article-card--horizontal
.article-card--horizontal{
  .article-card__author-name{
    cursor: pointer;
  }
}

// article-card--vertical
.article-card--vertical{

  .article-card__cover-photo {
    @include img-fit;
    height: 26vh;
    margin-bottom: 1rem;
  }

  .article-card__header{
    margin-bottom: 0.6rem;
  }

  .article-card__content{
    margin-bottom: 1.2rem;
  }

  .article-card__sub-title{
    @include text-overflow(3);
  }
}
