.b-sidebar {
  @include media-breakpoint-up(md){
    min-width: 450px;
  }

  &-body{
    padding: 2rem;
    // background-color: $color-basic;
  }

  .btn--close{
    top: -20px;
    left: -12px;
  }
}

.comment{
  &__header{
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__title{
    font-weight: 900;
    letter-spacing: $letter-spacing-lg;
    margin-bottom: 2rem;
    font-size: $heading-font-sm;
  }

  &__input-textarea{
    width: 100%;
    padding: 10px;
    transition: .2s;
    border: 1px solid $color-secondary-light;
    resize: none;
    outline: none;
    &:focus{
      padding-bottom: 1.5rem;
    }
  }

  &__button-group{
    background-color: #fff;
    position: absolute;
    right: 12px;
    bottom: 0;
    transform: translateY(30%);
  }

  &__item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    border-bottom: 1px solid $color-secondary-light;

    &:last-child{
      margin-bottom: 0;
      border: none;
    }
  }

  &__user-avatar{
    margin-right: 0.5rem;
  }

  &__info{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__username{
    display: block;
    width: 100%;
    font-weight: 900;
    font-size: $text-font-sm;
  }

  &__create-at{
    font-size: $text-font-xs;
    color: $color-secondary;
    margin-right: auto;
  }

  &__content{
    width: 100%;
    padding-top: 1rem;
    font-size: $text-font-sm;
    line-height: $line-height-md;
    white-space: pre-wrap;
  }
}