#loginModal{
  .modal-body{
    padding: 4rem;

    .close{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2.5rem;
    }

    .text-wrap{
      margin-bottom: 3rem;
    }
  }
}

#loginForm{
  .form-group{
    margin-bottom: 2rem;
  }

  .form-control{
    // border-radius: 0;
    // border: none;
    // border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .error-message{
    margin-bottom: 0;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-align: right;
    color: rgb(216, 22, 22);
  }
}