.navbar{
  min-height: 80px;
  background-color: $color-primary;
  border-bottom: 1px solid $color-secondary;

  &__item{
    display: flex;
    align-items: center;
    font-weight: 900;

    &~.navbar__item{
      margin-left: 0.5rem;
    }
  }
}