#navbar-user-modal{
  .modal-content{
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .modal-header{
    border-bottom: none;
  }
  .modal-body{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;

    @include sm{
      padding: 2rem 3rem;
    }

    .modal-title{
      margin-bottom: 2rem;
      text-align: center;
    }
    .modal-footer-text{
      text-align: center;
      letter-spacing: 1px;
      font-size: 0.9rem;

      a{
        margin-left: 0.5rem;
      }
    }
  }

  .modal-footer{
    border-top: none;
    padding-left: 4rem;
    padding-right: 4rem;

    @include sm{
      padding: 2rem 1.5rem;
    }
  }
}

#register-and-login-form{
  margin-bottom: 1rem;
  .form-group div{
    position: relative;
  }

  .form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #aaa;
  }

  .form-control.is-valid{
    border-bottom: 1px solid green;
  }

  .form-control.is-invalid{
    border-bottom: 1px solid red;
  }

  .form-control:focus{
    box-shadow: none;
  }

  .form-control::placeholder{
    font-size: 0.9rem;
  }

  .validation-error-message{
    margin-bottom: 0;
    height: 1rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: right;
    color: rgb(216, 22, 22);
  }

  .res-message{
    font-size: 0.9rem;
    text-align: center;
  }

  .submit-button{
    width: 100%;
    border-radius: 5rem;
    margin-top: 1rem;
  }
}