#navbar{
  .navbar{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

#modal-login___BV_modal_header_{
  &.modal-header{
    border-bottom: none;
  }
}

#modal-login___BV_modal_footer_{
  &.modal-footer{
    border-top: none;
  }
}