#navbar-user-modal{
  .modal-body{
    padding: 3rem 4rem;
    @include sm{
      padding: 2rem 1.5rem;
    }

    .close-button{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      transition: 0.3s;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: rgb(130,130,130);

      &:hover{
        color: rgb(197, 44, 44);
      }
    }

    .modal-title{
      margin-bottom: 2rem;
      text-align: center;
    }
    .modal-footer-text{
      text-align: center;
      letter-spacing: 1px;
      font-size: 0.9rem;

      a{
        margin-left: 0.5rem;
      }
    }
  }
}

#register-and-login-form{
  margin-bottom: 1rem;
  .form-group{
    // margin-bottom: 2rem;
  }

  .form-control{
    // border-radius: 0;
    // border: none;
    // border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .validation-error-message{
    margin-bottom: 0;
    height: 1rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: right;
    color: rgb(216, 22, 22);
  }

  .res-message{
    font-size: 0.9rem;
    text-align: center;
  }

  .submit-button{
    width: 100%;
    border-radius: 5rem;
  }
}