#register-and-login-modal{
  .modal-body{
    padding: 3rem 4rem;

    .close{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2.5rem;
    }

    .title{
      margin-bottom: 2rem;
      text-align: center;
    }
    .register-and-login-msg{
      text-align: center;
      letter-spacing: 1px;
      font-size: 0.9rem;

      a{
        margin-left: 0.5rem;
      }
    }
  }
}

#register-and-login-form{
  margin-bottom: 1rem;
  .form-group{
    // margin-bottom: 2rem;
  }

  .form-control{
    // border-radius: 0;
    // border: none;
    // border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .validation-error-msg{
    margin-bottom: 0;
    height: 1rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: right;
    color: rgb(216, 22, 22);
  }

  .res-msg{
    font-size: 0.9rem;
    text-align: center;
  }

  .submit-btn{
    width: 100%;
    border-radius: 5rem;
  }
}