#registerAndLoginModal{
  .modal-body{
    padding: 4rem;

    .close{
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2.5rem;
    }

    .title{
      margin-bottom: 3rem;
      text-align: center;
    }
    .text{
      text-align: center;
      letter-spacing: 1px;
      font-size: 0.9rem;
    }
  }
}

#registerAndLoginForm{
  margin-bottom: 2rem;

  .form-group{
    // margin-bottom: 2rem;
  }

  .form-control{
    // border-radius: 0;
    // border: none;
    // border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .error-message{
    margin-bottom: 0;
    height: 1rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: right;
    color: rgb(216, 22, 22);
  }

  .submit-btn{
    width: 100%;
    border-radius: 5rem;
  }
}