.user-modal{

  &__btn-submit{
    width: 100%;
    font-size: $text-font-md;
    margin-bottom: 2rem;
  }

  &__footer{
    font-size: $text-font-sm;
    letter-spacing: $letter-spacing-sm;
    text-align: center;
  }
}

#user-modal{
  .modal-header{
    border-bottom: none;
  }
}